/* kinematic style */

/*
:root{
    --text-button-color: #707070;
    --text-button-hover-color: #FFF;
    --button-color: #E0D2FF;
    --button-hover-color: #55209b;
    --button-disabled-color: #f1e6ff;
}

body.dark{
    --text-button-color: #ccc;
    --text-button-hover-color: #CCC;
    --button-color: #3d3d3d;
    --button-hover-color: #6d6d6d;
    --button-disabled-color: #a8a8a8;
}
*/

.home button.right:disabled{
    cursor: default;
    color: var(--text-button-hover-color);
    background-color: #1fe2bb;
    transition: var(--transition-03);
}

.home button.wrong:disabled{
    cursor: default;
    color: var(--text-button-hover-color);
    background-color: #ff8999;
    transition: var(--transition-03);
}

main img{
    flex: 1 1 auto;
    height: 400px;
    margin: auto;
    border-radius: 2rem;
    padding: 1rem;
}

#retryBtn {
    box-shadow: 0px 0px 5px gray;
}