/* kinematic style */

/*
:root{
    --text-button-color: #707070;
    --text-button-hover-color: #FFF;
    --button-color: #E0D2FF;
    --button-hover-color: #55209b;
    --button-disabled-color: #f1e6ff;
}

body.dark{
    --text-button-color: #ccc;
    --text-button-hover-color: #CCC;
    --button-color: #3d3d3d;
    --button-hover-color: #6d6d6d;
    --button-disabled-color: #a8a8a8;
}
*/

.home button.right:disabled {
    cursor: default;
    color: var(--text-button-hover-color);
    background-color: #1fe2bb;
    transition: var(--transition-03);
}

.home button.wrong:disabled {
    cursor: default;
    color: var(--text-button-hover-color);
    background-color: #ff8999;
    transition: var(--transition-03);
}



main img {
    flex: 1 1 auto;
    height: 400px;
    margin: auto;
    border-radius: 2rem;
    padding: 1rem;
}

main h1 {
    margin: 0 22rem 1.5rem 22rem;
    margin-bottom: 1.5rem;
    font-size: 50px;
    font-weight: 500;
    flex: 0 1 auto;
    border: solid #c5c5c5;
    border-radius: 1rem;
    color: var(--text-color);
}



.grid-2x2 li button img{
    height: 7em;
    margin: auto;
    padding: 20px;
    display: block;
    border: none;
    border-radius: 2rem;
}



form {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    gap : 1rem;
}

form input {
    flex: 0 1 auto;
    height: 4rem;
    width: 80%;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    font-size: 30px;
    font-weight: 500;
    padding: 0px 0.5rem;
    background: var(--primary-color-light);
}

form input.right:disabled {
    cursor: default;
    color: var(--text-button-hover-color);
    background-color: #1fe2bb;
    transition: var(--transition-03);
}

form input.wrong:disabled {
    cursor: default;
    color: var(--text-button-hover-color);
    background-color: #ff8999;
    transition: var(--transition-03);
}

form button {
    height: 4rem;
    width: 20%;
}



#retryBtn {
    box-shadow: 0px 0px 5px gray;
}









.plan-div {
    flex: 0 1 auto;
    height: 500px;
    width: 100%;
    margin: 0 auto 2rem;
    border-radius: 2rem;
    padding: 1rem;
}
