/* kinematic style */

.game{
    position: fixed;
    height: 88%;
    width: 90%;
    border-radius: /*6px*/ 0.5em;
    margin-left: 2%;
    margin-right: 1%;
    /*text-align: center;*/
    background: var(--sidebar-color);
}

.game img{
    width: 400px;
    margin: auto;
    display: block;
}

.game .gameButton {
    list-style: none;
    margin-left: 3%;
    margin-right: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*column-gap: 4%;*/
    row-gap: 4em;
}

.game .gameButton li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition-04);
}

.game .gameButton li a{
    height: 100%;
    width: 70%;
    text-align: center;
    text-decoration: none;
    border-radius: /*6px*/ 0.5em;
    background: var(--body-color);
    transition: var(--transition-05);
}

.game .gameButton li a:hover{
    cursor: pointer;
    background: var(--primary-color);
    transition: var(--transition-05);
}

.game .gameButton li a:hover .text{
    color: var(--sidebar-color);
    transition: var(--transition-04);
}