main {
    color : var(--text-color);
}

select {
    color: var(--text-color);
    background-color: var(--primary-color-light);
    border: thin solid rgb(179, 179, 179);
    border-radius: inherit;
    padding-left: 0.5rem;
}

select:focus {
    border: thin solid #55209b;
}

.module-learning {
    border: 0.1rem solid rgb(179, 179, 179);
    border-radius: 0.5rem;
    box-shadow: 0px 0px 3px gray;
    /*color: var(--text-color);*/
    margin-top: 1rem;
}

.module-learning li {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem 0 1rem;
}

.module-learning li>img {
    height: 300px;
    border-radius: 0.5rem;
}

.module-learning li>div {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 0 1rem;
}

.module-learning li>div>div a {
    margin-left: 0.5em;
}





.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

/*
.float-left {
    float: left;
}

.float-right {
    float: right;
}
*/